## **Librerias**

In [1]:
import pandas as pd

In [22]:
pd.options.display.max_columns = False

## **Datos**

### 1. Llamando a los datos

In [2]:
survey_data = pd.read_excel(
    'fcc-new-coder-survey.xlsx',
    skiprows=2
)

In [11]:
survey_data.head(2)

,Age,AttendedBootcamp,BootcampFinish,BootcampLoanYesNo,BootcampName,BootcampRecommend,ChildrenNumber,CityPopulation,CodeEventConferences,CodeEventDjangoGirls,...,ResourcePluralSight,ResourceSkillCrush,ResourceStackOverflow,ResourceTreehouse,ResourceUdacity,ResourceUdemy,ResourceW3Schools,SchoolDegree,SchoolMajor,StudentDebtOwe
0,28.0,0.0,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"some college credit, no degree",NaN,20000
1,22.0,0.0,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1.0,NaN,"some college credit, no degree",NaN,NaN

In [23]:
survey_data.head(2)

    Age  AttendedBootcamp  ...  SchoolMajor  StudentDebtOwe
0  28.0               0.0  ...          NaN           20000
1  22.0               0.0  ...          NaN             NaN

[2 rows x 98 columns]

In [25]:
survey_dataV2 = pd.read_excel(
    'fcc-new-coder-survey.xlsx',
    skiprows = 2,
    usecols = 'W:AB, AR' #Esto se refiero a la columna del excel original
)

survey_dataV2.head()

   CommuteTime            CountryCitizen  ...    EmploymentStatus   Income
0         35.0  United States of America  ...  Employed for wages  32000.0
1         90.0  United States of America  ...  Employed for wages  15000.0
2         45.0  United States of America  ...  Employed for wages  48000.0
3         45.0  United States of America  ...  Employed for wages  43000.0
4         10.0  United States of America  ...  Employed for wages   6000.0

[5 rows x 7 columns]

### 2. Llamando datos de multiples worksheets

In [31]:
survey_dataV3 = pd.read_excel(
    'fcc-new-coder-survey.xlsx',
    skiprows = 2,
    sheet_name = 1
)

survey_dataV3.head(2)

    Age  AttendedBootcamp  ...  SchoolMajor  StudentDebtOwe
0  27.0               0.0  ...          NaN             NaN
1  34.0               0.0  ...          NaN             NaN

[2 rows x 98 columns]

In [33]:
len(survey_dataV3)

1000

In [55]:
survey_dataV4 = pd.read_excel(
    'fcc-new-coder-survey.xlsx',
    skiprows=2,
    sheet_name = None
)

In [63]:
all_responses = pd.DataFrame()

for sheet_name, frame in survey_dataV4.items():
    frame['Year'] = sheet_name
    
    all_responses = all_responses.append(frame)